%form(action='/notice/create' method='POST' enctype='multipart/form-data')
	%input(type='text' name='title')
	%textarea(name='description')
	%input(type='file' name='file')
	%input(type='submit' value='send')